*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

h1{
    font-size: 2.25rem; 
    line-height: 2.5rem; 
    font-weight: 700; 
    color: rgb(255,255,255);
}
h2{
    text-align: center; 
    font-size: 4.5rem; 
    line-height: 1; 
    font-weight: 700; 
    color: rgb(255,255,255);
}
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 2rem; 
    }
}
p{
    font-size: 1.25rem; 
    line-height: 1.75rem; 
    color: rgb(100,116,139);
}

#container{
    display: flex; 
    height: 100vh; 
    flex-direction: column; 
    background-color: rgb(39,39,42);
}

#header, #footer{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

#header{
    padding: 1.75rem;
}
#footer{
    padding: 1rem;
}

#content {
    display: flex; 
    flex-grow: 1; 
    align-items: center; 
    justify-content: center;
    overflow: hidden;
}

.card{
    display: flex; 
    aspect-ratio: 1 / 1; 
    align-items: center; 
    justify-content: center; 
    border-radius: 9999px; 
    background-color: rgb(63,63,70); 

    aspect-ratio: 1 / 1;  

    width: min(80vw,80vh);
}
.card > div{
    height: 100%;
    width: 100%;
    border-radius: 9999px;
    background-size: cover; 
    background-position: center; 
}
h2 {
    display: none;
}
.show > h2{
    display: block;
}
.show > div{
    display: none;
}

#progressBar{
    background-color: oklch(21% 0.006 285.885);
    width: 30rem;
    height: 1.5rem;
    max-width: 80%;
}
#progressBar > #innerBar{
    background-color: oklch(72.3% 0.219 149.579);
    width: 0%;
    height: 100%;
}
#progressBar > #text{
    position: absolute;
    width: 30rem;
    height: 1.5rem;
    max-width: 80%;
    display: flex;
    align-items: center; 
    justify-content: center;
}
#progressBar > #text > p{
    color: white;
    font-weight: 700;
}